# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/

# Project Specific
data/raw/
data/processed/
.env

# Node / Web
node_modules/
web/node_modules/
web/dist/
dist/

# OS-specific
.DS_Store
Thumbs.db
